<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}

    {{ if .Site.Params.presentation.enable }}
      {{ partial "presentation.html" . }}
    {{ end }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}

    {{ if .Site.Params.planning.enable }}
      {{ partial "planning.html" . }}
    {{ end }}

    {{ if .Site.Params.price.enable }}
      {{ partial "price.html" . }}
    {{ end }}

    {{ if .Site.Params.registration.enable }}
      {{ partial "registration.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
